$background-primary: #000;
$background-secondary: #29454c;

$text-primary: #fff;
$text-secondary: #1eaacf;
$text-tertiary: #dbeef2;

$blue-1: #2f9cd0;
$blue-2: #1eaacf;
$blue-3: #79c6d7;
$light-blue-1: #bad7dc;
$light-blue-2: #dbeef2;
$dark-blue-1: #29454c;
$dark-blue-2: #414f53;
$dark-blue-3: #438084;

$font-weights: (
        "regular": 400,
        "medium": 500,
        "bold": 700
);

// resets
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
